.admin-menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: linear-gradient(180deg, var(--lilas), var(--azul));
    border-left: 10px solid var(--azul);
    transition: 0.5;
    overflow: hidden;
}

.admin-menu ul {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.admin-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    /* padding: 20px 10px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.admin-menu ul li:hover {
    background: var(--branca);
}

.admin-menu ul li:nth-child(1) {
    margin-bottom: 80px;
    pointer-events: none;
}

.admin-menu ul li img {
    width: 120px;
    margin-left: 90px;
    transition: 0.5s;
}

.admin-menu ul li a {
    text-decoration: none;
    display: flex;
    color: var(--branca);
}

.admin-menu ul li a:hover {
    color: var(--azul);
}

.admin-menu ul li a .icon {
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    font-size: 1.75rem;
}

.admin-menu ul li a .texto {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.admin-menu ul li:hover a::before {
    content: '';
    background: transparent;
    position: absolute;
    top: -50px;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--branca);
    pointer-events: none;
}

.admin-menu ul li:hover a::after {
    content: '';
    background: transparent;
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 35px -28px 0 10px var(--branca);
    pointer-events: none;
}